
/* 文章页背景 */
.layout_post>#post {
  /* 以下代表白色透明度为0.3 */
  background: rgba(255,255,255,.3);
}

/* 所有背景（包括首页卡片、文章页、页面页等） */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
  /* 以下代表白色透明度为0.3 */
  background: rgba(255,255,255,.7);
}

.layout_post>#post {
  background: rgba(255,255,255,.5);
}


/* 页脚footer */
/* 渐变色滚动动画 */
@-webkit-keyframes Gradient {
  0% {
      background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
      background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0 50%;
  }
}
#footer {
  background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#footer:before {
  background-color: rgba(0, 0, 0, 0);
}


/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}



/*  note  */
.tip {
  position: relative;
  color: #fff;
  background: #20a0ff;
  background: -webkit-gradient(linear,left top,right top,from(#20a0ff),to(#20b8ff));
  background: -webkit-linear-gradient(left,#20a0ff,#20b8ff);
  background: linear-gradient(90deg,#20a0ff,#20b8ff);
  padding: 6px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px rgba(32,160,255,.5);
  box-shadow: 0 3px 5px rgba(32,160,255,.5);
  margin-bottom: 20px
}

.tip p {
  margin: 5px 0!important
}

.tip:before {
  background: #20a0ff;
  background: -webkit-gradient(linear,left bottom,left top,from(#0092ff),to(#20b8ff));
  background: -webkit-linear-gradient(bottom,#0092ff,#20b8ff);
  background: linear-gradient(0deg,#0092ff,#20b8ff);
  border-radius: 50%;
  color: #fff;
  content: "\f129";
  font-size: 12px;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 24.5px;
  left: -12px;
  top: -12px;
  -webkit-box-shadow: 0 0 0 2.5px #fff;
  box-shadow: 0 0 0 2.5px #fff;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  text-align: center
}

.btn,.getit a {
  position: relative
}

.well .tip:before {
  -webkit-box-shadow: 0 0 0 2.5px #f7f8f9;
  box-shadow: 0 0 0 2.5px #f7f8f9
}

.tip ol {
  margin: 0
}

.tip.success {
  background: #61be33;
  background: -webkit-gradient(linear,left top,right top,from(#61be33),to(#8fce44));
  background: -webkit-linear-gradient(left,#61be33,#8fce44);
  background: linear-gradient(90deg,#61be33,#8fce44);
  text-shadow: 0 -1px #61be33;
  -webkit-box-shadow: 0 3px 5px rgba(104,195,59,.5);
  box-shadow: 0 3px 5px rgba(104,195,59,.5)
}

.tip.success:before {
  background: -webkit-gradient(linear,left bottom,left top,from(#52bb1d),to(#95d34b));
  background: -webkit-linear-gradient(bottom,#52bb1d,#95d34b);
  background: linear-gradient(0deg,#52bb1d,#95d34b);
  content: "\f00c";
  text-shadow: 0 -1px #61be33
}

.tip.warning {
  background: #ff953f;
  background: -webkit-gradient(linear,left top,right top,from(#ff953f),to(#ffb449));
  background: -webkit-linear-gradient(left,#ff953f,#ffb449);
  background: linear-gradient(90deg,#ff953f,#ffb449);
  text-shadow: 0 -1px #ff953f;
  -webkit-box-shadow: 0 3px 5px rgba(255,154,73,.5);
  box-shadow: 0 3px 5px rgba(255,154,73,.5)
}

.tip.warning:before {
  background: -webkit-gradient(linear,left bottom,left top,from(#ff8f35),to(#ffc149));
  background: -webkit-linear-gradient(bottom,#ff8f35,#ffc149);
  background: linear-gradient(0deg,#ff8f35,#ffc149);
  content: "\f12a";
  text-shadow: 0 -1px #ff953f
}

.tip.error {
  background: #ff4949;
  background: -webkit-gradient(linear,left top,right top,from(#ff4949),to(#ff7849));
  background: -webkit-linear-gradient(left,#ff4949,#ff7849);
  background: linear-gradient(90deg,#ff4949,#ff7849);
  text-shadow: 0 -1px #ff4949;
  -webkit-box-shadow: 0 3px 5px rgba(255,73,73,.5);
  box-shadow: 0 3px 5px rgba(255,73,73,.5)
}

.tip.error:before {
  background: -webkit-gradient(linear,left bottom,left top,from(#ff3838),to(#ff7849));
  background: -webkit-linear-gradient(bottom,#ff3838,#ff7849);
  background: linear-gradient(0deg,#ff3838,#ff7849);
  content: "\f00d";
  text-shadow: 0 -1px #ff4949
}

/*夜间适配*/
[data-theme="dark"] .tip {
  filter: brightness(0.7);
}

/* snote夜间模式 */
[data-theme="dark"] .tip{
color: #4c4948;
}